.register {
  text-align: center;
}
button {
  cursor: pointer;
}
input {
  box-sizing: border-box;
  margin-bottom: 7px;
}

.btn:hover {
  background-color: dodgerblue;
}
.form-control {
  box-sizing: border-box;
  margin-bottom: 7px;
}
.error {
  color: red;
}
.image {
  width: 60%;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
}
h3 {
  text-align: center;
}
li {
  text-align: center;
  list-style: decimal;
  padding-top: 4px;
  font-size: medium;
  font-style: oblique;
}
